<%= render partial: "/widgets/sid/util" %>

<h3>Quick Links</h3>
<div id="quick-links-container" class="row">
  <%= render partial: "/widgets/sid/terminal_button" %>
  <%= render partial: "/widgets/sid/all_sessions_button" %>
  <%= render partial: "/widgets/sid/fasse_button" unless fasse_cluster? %>
  <%= render partial: "/widgets/sid/cannon_button" unless cannon_cluster? %>
</div>