<style>

</style>
<script>

  const launchButtons = <%= raw @launcher_buttons_json %>;

</script>
<div id="app-launcher-container">
  <div id="launch-button-error" class="alert alert-danger" role="alert" style="display: none;">
    There was an error submitting your job to the cluster
  </div>
  <div class="alert alert-info app-launcher-title" role="alert">
    Welcome to the Social Sciences dashboard of the FAS Cannon Cluster
  </div>

  <div data-selector="no-active-sessions" class="ood-appkit markdown app-launcher-help" style="<%= has_active_sessions?(@sessions) ? "display:none" : "" %>">
    <p>To start an interactive session with a default set of resources, click an app icon below.</p>
    <p>If you need different resources than those listed, <a href="<%= batch_connect_sessions_path %>">create a customized session</a> using the Interactive Apps menu</p>
  </div>

  <div data-selector="active-sessions" class="quick-launch-buttons-title" style="<%= has_active_sessions?(@sessions) ? "" : "display:none" %>">
    <h3>Active interactive sessions</h3>
    <a data-selector="more-sessions" href="<%= batch_connect_sessions_path %>" style="<%= show_more_sessions_link?(@sessions) ? "" : "display:none" %>">
      view all my Interactive sessions <span data-selector="number-of-sessions">(<%= @sessions.length %>)</span>
    </a>
  </div>

  <div id="sessions-container" class="batch-connect sessions" data-toggle="poll" data-url="<%= launchers_sessions_path(r: root_url, format: :js) %>" data-delay="<%= ENV["POLL_DELAY"] || 10000 %>">
    <%= render partial: "batch_connect/sessions/panel", collection: @sessions.first(quick_launch_max_sessions), as: :session %>
  </div>

  <div class="quick-launch-buttons-container">
    <div class="quick-launch-buttons-title">
      <h3>Start an interactive app</h3>
      <a href="<%= batch_connect_sessions_path %>">view all interactive app options</a>
    </div>
    <div class="row row-eq-height">
      <% @launchers.each do |launcher| %>
      <%= render partial: "launch_button", locals: { launcher_button_id: launcher[:metadata][:id], launcher_button: launcher[:view] } %>
      <% end %>
    </div>

    <div class="quick-launch-buttons-title">
      <h3>Quick links</h3>
    </div>
    <div class="row row-eq-height">
      <%= render partial: "terminal_button" %>
      <%= render partial: "fasse_button" %>
    </div>
  </div>
</div>

<%= render partial: "help" %>

