<div class="<%= button_column_classes %>">
  <div id="<%= launchButtonId %>"
       data-toggle="launch-button"
       data-url="<%= ws_sessions_path %>"
       data-reload-url="<%= launchers_sessions_path(r: root_url, format: :js) %>"
       class="launch-button">
    <div class="launch-button-spinner" style="display: none;">
      <div class="spinner-border" role="status"></div>
    </div>

    <div class="title text-center">cannon</div>
    <div class="panel-body panel-image">
      <img src="<%= asset_url launchButton[:logo] %>" alt="Application logo" width="<%= launchButton[:logoWidth] || 200 %>" class="center-block"  style="<%= launchButton[:style] || '' %>"/>
    </div>
    <div class="panel-body panel-text">
      <p><%= launchButton[:p1] || "&nbsp;".html_safe %></p>
      <p><%= launchButton[:p2] || "&nbsp;".html_safe %></p>
      <p><%= launchButton[:p3] || "&nbsp;".html_safe %></p>
    </div>
  </div>
</div>

