  <div class="col-sm-6 col-md-3">
    <div id="<%= launchButtonId %>" data-toggle="launch-button" data-url="<%= ws_sessions_path %>" data-reload-url="<%= batch_connect_sessions_path(r: root_url, format: :js) %>"
         class="launch-button">
      <div class="launch-button-spinner" style="display: none;">
        <div class="spinner-border" role="status"></div>
      </div>

      <div class="title text-center">cannon</div>
      <div class="panel-body">
        <img src="<%= asset_url launchButton[:logo] %>" alt="Application logo" width="<%= launchButton[:logoWidth] || 200 %>" class="center-block"/>
      </div>
      <div class="panel-body">
        <p><%= launchButton[:p1] || "" %></p>
        <p><%= launchButton[:p2] || "" %></p>
      </div>
    </div>
  </div>

