<style>

</style>
<script>

  const launchButtons = <%= raw @launcher_buttons_json %>;

</script>
<div id="app-launcher-container">
  <div id="launch-button-error" class="alert alert-danger alert-dismissable" role="alert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    There was an error submitting your job to the cluster
  </div>

  <div data-selector="no-active-sessions" class="app-launcher-title" style="<%= has_active_sessions?(@sessions) ? "display:none" : "" %>">
    <h2>Welcome to <img src="<%= asset_url "sid_logo.png" %>"></h2>
  </div>

  <div data-selector="active-sessions" class="quick-launch-buttons-title" style="<%= has_active_sessions?(@sessions) ? "" : "display:none" %>">
    <h3>Active interactive sessions</h3>
    <a data-selector="more-sessions" href="<%= batch_connect_sessions_path %>" style="<%= show_more_sessions_link?(@sessions) ? "" : "display:none" %>">
      view all <span data-selector="number-of-sessions">(<%= @sessions.length %>)</span>
    </a>
  </div>

  <div id="sessions-container" class="batch-connect sessions" data-toggle="poll" data-url="<%= launchers_sessions_path(r: root_url, format: :js) %>" data-delay="<%= ENV["POLL_DELAY"] || 10000 %>">
    <%= render partial: "batch_connect/sessions/panel", collection: @sessions.first(quick_launch_max_sessions), as: :session %>
  </div>

  <div class="quick-launch-buttons-container">
    <div class="quick-launch-buttons-title">
      <h3>Start an interactive job</h3>
    </div>
    <div class="row row-eq-height">
      <% @launchers.each do | launcher | %>
      <%= render partial: "launch_button", locals: { launcher_button_id: launcher[:metadata][:id], launcher_button: launcher[:view] } %>
      <% end %>
    </div>

    <div class="quick-launch-buttons-title">
      <h3>Quick links</h3>
    </div>
    <div class="row row-eq-height">
      <% @quick_links.each do | template | %>
        <%= render partial: "widgets/#{template}" %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "docs" %>

